*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lato',sans-serif;
}



.box{   
    text-align:center;
}

div h2{
    letter-spacing:3px;
    text-transform:uppercase;
}

div input[type=number]{
    margin:8px 0;
    padding:8px;
    width:100%;
    font-size:10px;
}

div button{
    margin: 0 4px;
    padding: 6px 0;
    width:63px;
    border:1px solid rgb(173, 168, 168);
    
}
.break{
    height:30px;
}
#output{
    color:white;
    background-color:rgb(107, 106, 106);
    height:40px;

    
    
}




